.pack-screen {
    transform: translateY(0);
}

.pack-screen.slide {
    transform: translateY(100%);
    transition: transform 0.7s ease-in-out;
}

.card-cut {
    animation: cardAppear 0.7s ease-out forwards;
    position: relative;
    width: 256px;
    height: 455px;
}

.card-top {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(0 0 80% 0);
}

.card-bottom {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: inset(20% 0 0 0);
}

.card-cut.cut .card-top {
    animation: cutTop 0.5s ease forwards;
}

.card-cut.cut .card-bottom {
    animation: cutButtom 0.5s ease forwards;
}


@keyframes cardAppear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes cutTop {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(200px);
    }
}

@keyframes cutButtom {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(-200px);
    }
}

/* ==============================
10連ガチャ
================================ */

.gacha-gether {
    position: relative;
    width: 500px;
    height: 500px;
}

.gether-card {
    position: absolute;
    width: 120px;
    height: auto;
    left: 50%;
    top: 50%;

    transform:
        translate(-50%, -50%) rotate(var(--angle)) translateY(-180px);

    animation: gather-card 2s ease-in-out forwards;
}

@keyframes gather-card {
    0% {
        transform:
            translate(-50%, -50%) rotate(var(--angle)) translateY(-180px);
    }

    50% {
        transform:
            translate(-50%, -50%) rotate(calc(var(--angle) - 180deg)) translateY(-180px) rotate(calc((var(--angle) - 180deg) * -1));
    }

    100% {
        transform:
            translate(-50%, -50%) rotate(calc(var(--angle) - 360deg)) translateY(0) rotate(calc((var(--angle) - 360deg) * -1));
    }
}