.result-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.result-card-wrapper {
    position: relative;
    width: 256px;
    height: 340px;
}

.result-card {
    width: 256px;
    animation: cardResultAppear 0.8s ease-out forwards;
    z-index: 10;
    position: relative;
}

.smoke-canvas-right {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    bottom: -120px;
    z-index: 0;
    transform: translate(-20px, -40px);
    pointer-events: none;
}

.smoke-canvas-right canvas {
    width: 100%;
    height: 100%;
}

.smoke-canvas-left {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    bottom: -120px;
    z-index: 0;
    transform: translate(-300px, -40px);
    pointer-events: none;
}

.smoke-canvas-left canvas {
    width: 100%;
    height: 100%;
}

@keyframes cardResultAppear {
    from {
        opacity: 0;
        transform: translateY(150px) rotateY(180deg);
    }

    to {
        opacity: 1;
        transform: translateY(0) rotateY(0deg);
    }
}

.result-text {
    opacity: 0;
    transform: translateY(50px);
    animation: cardResultText 0.3s ease-out 0.5s forwards;
}

@keyframes cardResultText {
    from {
        opacity: 0;
        transform: translateY(50px);
    } to {
        opacity: 1;
        transform: translateY(0px);
    }
}